extends layout

block content
  div.tartalom
    div.hidden
      img(itemprop="image", src='/images/hatter.jpg')
      div(itemprop='name')= title
    img.koszi(src="/images/koszi.png", alt="koszi")
    img.click(src="/images/click.png", alt="click")
    a(href="http://folyam.info/", target="_blank")
      img.yit(src="/images/yitsushi.png", alt="yitsushi")
    img.nyomd(src="/images/nyomd.png", alt="nyomd")
    
    div#panel(itemprop="description")!= quote.content
    a#changePanel(href="#")
      img.gomb(src="/images/gomb_tr.png", alt="gomb")

  a(href="https://github.com/droid242/duma")
    img.forkme(src="/images/forkme.png", alt="forkme")

  img.szivacs_map1(src="/images/szivacs_map.png", alt="szivacs", usemap="#about")
  img.szivacs_map2(src="/images/szivacs_map.png", alt="szivacs", usemap="#about")

  map(name="about")
    area(shape="rect", coords="12,15,197,38", href="http://about.me/droid242", target="_blank", alt="about.me")
    area(shape="rect", coords="60,56,197,78", href="http://zuppaa.hu/droid242", target="_blank", alt="zuppaa")
  
  script(type='text/javascript')
    jQuery(function() {
      history.pushState('', '', '/' + #{quote.human_id} + '.html');
    });

  div.tarto &nbsp;
